*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  line-height: 1.5;
  background-color: var(--bg_color);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body.hidden-scrolling{
  overflow-y: hidden;
}

/* Header Section */
.header-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 100px 10px;
  gap: 50px;
  background-color: white;
}
.header-section img{
  width: 500px;
}
.header-section span{
  color: var(--secondary_color);
}
.header-section h1{
  font-size: 40px;
  line-height: 1.2;
}
.header-section p{
  font-size: 18px;
  font-weight: bold;
  color: var(--p_color);
}

/* Services */
.innercontainer{
  background-color: #ffedea;
  padding: 60px 150px;
  border-radius: 100px 100px 0 0;
}

.what-we-do h3{
  font-size: 30px;
}
.services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.services .services-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services-info-card{
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-info-card i{
  font-size: 50px;
  color: var(--primary_color);
}

/* About us */
.about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 5%; */
  gap: 100px;
  /* background-color: ; */
}
.about-photo img{
  width: 500px;
  padding: 20px;
}
.about-us-details{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  border-radius: 200px 0 0 200px;
  background-color: white;
}
.about-us-details .image-div img{
  width: 100px;
}

/* Why chose us */
.choose-us{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 150px;
  background-color: white;
  gap: 100px;
}
.choose-us-details{
  width: 500px;
}
.choose-us-image{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: black;
  object-fit: cover;
}

.icon-container{
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: center;
  margin: 10px 0;
}
.icon-container h4{
  color: var(--secondary_color);
}
.icon-container i{
  font-size: 30px;
  color: var(--secondary_color);
}

.testimonials{
  margin-top: 20px;
  height: 200px;
}
.testimonials-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.testimonials-card{
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary_color);
  padding: 10px;
}
.testimonial-card-details, .testimonial-card-details p{
  color: var(--btn_text_color);
}
.testimonials-card img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
}

/* Card for Prices */
.prices-info{
  margin: 0 20%;
  color: #fff;
}
.price-cards{
  background-color: var(--primary_color);
}
.card-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
}
.card{
  background-color: var(--btn_text_color);
  width: 300px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 25px rgba(1 1 1 / 5%);
  border-radius: 10px;
}
.amount{
  margin: 5px 0;
  font-size: 50px;
}
.card hr{
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--primary_color);
}
.card h2{
  color: var(--primary_color);
}
.feature{
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feature i{
  margin-right: 10px;
  color: var(--primary_color);
}

/* Contact Form */
.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 10%;
  /* height: 100vh; */
  background-color: white;
}

.contact-form .form-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.contact-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contact-form input, .contact-form textarea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  outline: none;
  border: 1px solid var(--primary_color);
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 5px 25px rgba(1 1 1 / 20%); */
}

.contact-form form .submit{
  background-color: var(--primary_color);
  color: var(--btn_text_color);
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 10px 10px 10px rgba(1 1 1 / 10%);
}