*{
  margin: 0;
  box-sizing: border-box;
  /* padding: 0; */
}

html{
  scroll-behavior: smooth;
}

body{
  line-height: 1.5;
  background-color: var(--bg_color);
  font-family: "Poppins", sans-serif;
  height: 200vh;
  scroll-behavior: smooth;
}
body.hidden-scrolling{
  overflow-y: hidden;
}

/* Header Section */
.header-section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 100px 10px;
  gap: 50px;
  background-color: white;
}
.header-section img{
  width: 300px;
}
.header-section span{
  color: var(--secondary_color);
}
.header-section h1{
  font-size: 40px;
}
.header-section p{
  font-size: 18px;
  font-weight: bold;
  color: var(--p_color);
}

/* Services */
.innercontainer{
  background-color: #fff;
  padding: 20px 0 50px;
  border-radius: 100px 100px 0 0;
}
.innercontainer .title{
  text-align: center;
  margin: 40px 0;
}
.innercontainer .description{
  text-align: center;
  margin: 20px 200px;
  color: var(--p_color);
}

.services{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  /* height: 50vh; */
  gap: 50px;
}
.services .services-info{
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  max-width: 650px;
}
.services-info-card{
  background-color: var(--btn_text_color);
  width: 300px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
  border-radius: 10px;
}
.services-info-card i{
  font-size: 30px;
  color: var(--primary_color);
}
.services-info-card:hover, .services-info-card:hover i{
  background-color: var(--primary_color);
  color: var(--btn_text_color);
  transition: all 0.3s ease;
}

/* About us */
.about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  gap: 100px;
}
.about-photo img{
  width: 500px;
}

/* Why chose us */
.choose-us{
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: white;
}
.whychooseus-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: center;
}
.whychooseus-container i{
  font-size: 30px;
  color: var(--primary_color);
}

.testimonials{
  margin-top: 20px;
  height: 200px;
}
.testimonials-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.testimonials-card{
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary_color);
  padding: 10px;
}
.testimonial-card-details, .testimonial-card-details p{
  color: var(--btn_text_color);
}
.testimonials-card img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
}

/* Card for Prices */
.prices-info{
  text-align: center;
  margin: 20px 20%;
}
.prices-info h1{
  margin: 15px 0;
}
.card-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 3rem;
}
.card{
  background-color: var(--btn_text_color);
  width: 300px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 25px rgba(1 1 1 / 5%);
  border-radius: 10px;
}
.amount{
  margin: 5px 0;
  font-size: 50px;
}
.card hr{
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--primary_color);
}
.card h2{
  color: var(--primary_color);
}
.feature{
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feature i{
  margin-right: 10px;
  color: var(--primary_color);
}

.slider-section{
  background-color: var(--bg_color);
  padding: 100px 0;
  /* height: 100vh; */
}

/* Contact Form */
.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 10%;
  height: 100vh;
  background-color: white;
}

.contact-form .form-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.contact-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contact-form input, .contact-form textarea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  outline: none;
  border: 1px solid var(--primary_color);
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 5px 25px rgba(1 1 1 / 20%); */
}

.contact-form form .submit{
  background-color: var(--primary_color);
  color: var(--btn_text_color);
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 10px 10px 10px rgba(1 1 1 / 10%);
}