@media (max-width: 768px){
  .wrapper-wrap{
    padding: 0;
  }
  /* Header Section */
  .header-section{
    flex-direction: column;
    height: auto;
    padding: 100px 20px;
  }
  .header-section img{
    width: 100%;
    height: auto;
  }
  .header-section h1, p{
    font-size: auto;
  }

  /* Services */
  .innercontainer{
    border-radius: 0;
    padding: 0;
    width: 100%;
    margin-top: 10px;
  }

  .services{
    padding: 20px;
    width: 100%;
  }

  .what-we-do, .services-info, .services-info-card{
    width: 100%;
  }

  /* About us */
  .about-us{
    flex-direction: column;
    gap: 50px;
  }
  .about-photo img{
    width: 100%;
    padding: 0 20px;
  }
  .about-us-details{
    border-radius: 0;
    width: 100%;
    padding: 20px;
    height: auto;
  }

  /* Why chose us */
  .testimonials{
    flex-direction: column;
  }
  .choose-us-image{
    width: 320px;
    height: 320px;
  }
  .choose-us{
    padding: 20px;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .choose-us-details{
    width: 100%;
  }

  .testimonials-container{
    flex-direction: column;
  }

  /* Prices */
  .prices-info{
    margin: 20px;
    color: #fff;
  }
  .card-wrapper{
    padding: 20px;
  }
  .card{
    width: 100%;
  }

  /* Contact us */
  .contact-form input{
    width: 350px;
  }
  .contact-form textarea{
    width: 100%;
  }

  /* Footer */
  .footer-info{
    flex-direction: column;
  }
  .footer-info{
    gap: 20px;
  }

  .follow-us .follow-icons{
    gap: 10px;
  }

  footer .follow-us i{
    font-size: 20px;
  }
}

@media (max-width: 1024px){
  /* .services{
    padding: 40px;
    gap: 10px;
  } */
  .services .services-info{
    gap: 10px;
  }
  .testimonials-card{
    padding: 0 10px;
    width: 300px;
  }
}